body {
  background-color: #FFFFF4;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  padding-left: 9px;
  float: left;
  width: 270px;
  display: block;
  height:70px;
}

.nav {
  float: right;
  width: 700px;
  height:70px;
  display: block;
}

.clear {
  clear:both;
  display: block;
}
#foot1 {
  float: right;
  right: 500px;
  margin-left: 100px;
  display: inline-block;
}

#foot2 {
  float: right;
  right: 400px;
  margin-left: 100px;
  display: inline-block;
}

#foot3 {
  float: right;
  right: 300px;
  margin-left: 100px;
  display: inline-block;
}

#foot4 {
  float: right;
  right: 200px;
  margin-left: 100px;
  display: inline-block;
}


header {
  width:1000px;
  margin:0 auto;
}
.content-left {
  float:left;
  width:250px;
  display: block;
}
.content-right {
  float:right;
  width:750px;
  display: block;
}
hr {
  clear: both;
  width: 100%;
}
.image {
  border-radius: 50%;
  border:1px solid black;
  height:260px;
  display: inline-block;
}

.circle1 {
  background: #E176FF;
  border:1px solid #E176FF;
  border-radius: 50%;
  height:120px;
  width: 120px;
  color: white;
  text-align: center;
  margin-left: 30px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  float: right;
  margin-top: 15px;
  text-decoration: none;
  line-height: 120px;
  margin-right: 50px;
}

.circle2 {
  background: #74AEDE;
  border:1px solid #74AEDE;
  border-radius: 50%;
  height:120px;
  width: 120px;
  color: white;
  text-align: center;
  margin-left: 30px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  float: right;
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
  line-height: 120px;
}

.circle3 {
  background: #85FF91;
  border:1px solid #85FF91;
  border-radius: 50%;
  height:120px;
  width: 120px;
  color: white;
  text-align: center;
  margin-left: 30px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  float: right;
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
  line-height: 120px;
}

.circle3 a{
  text-decoration: none;
  background: transparent;
  color: white;
}

.circle4 {
  background: #FFE878;
  border:1px solid #FFE878;
  border-radius: 50%;
  height:120px;
  width: 120px;
  color: white;
  text-align: center;
  margin-left: 30px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  float: right;
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
  line-height: 120px;
}

#intro {
  font-family: 'Raleway', sans-serif;
  width: 700px;
  padding: 10px;
  clear:both;
  padding-left: 90px;
  font-size: 14px
}