body {
  background-color: #EBF2F2;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  padding-left: 9px;
  float: left;
  width: 270px;
  display: block;
  height:70px;
}

.nav {
  float: right;
  width: 700px;
  height:70px;
  display: block;
  padding-top: 80px;
}

.nav a{
  text-decoration: none;
  background: transparent;
  color: black;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
  padding-right: 10px;
}


.clear {
  clear:both;
  display: block;
}

#foot1 {
  float: right;
  right: 500px;
  margin-left: 100px;
  display: inline-block;
}

#foot2 {
  float: right;
  right: 400px;
  margin-left: 100px;
  display: inline-block;
}

#foot3 {
  float: right;
  right: 300px;
  margin-left: 100px;
  display: inline-block;
}

#foot4 {
  float: right;
  right: 200px;
  margin-left: 100px;
  display: inline-block;
}


header {
  width:1000px;
  margin:0 auto;
}
.content-left {
  float:left;
  width:250px;
  display: block;
}
.content-right {
  float:right;
  width:750px;
  display: block;
}
hr {
  clear: both;
  width: 100%;
}
.image {
  border-radius: 50%;
  border:1px solid black;
  height:260px;
  display: inline-block;
}

.circle1 {
  background: #007E80;
  border: none;
  border-radius: 50%;
  height:120px;
  width: 120px;
  color: white;
  text-align: center;
  margin-left: 30px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  float: right;
  margin-top: 15px;
  text-decoration: none;
  line-height: 120px;
  margin-right: 10px;
}

.circle1:hover{
  background-color: #98D9B6;
}

.circle2 {
  background: #822626;
  border: none;
  border-radius: 50%;
  height:120px;
  width: 120px;
  color: white;
  text-align: center;
  margin-left: 30px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  float: right;
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
  line-height: 120px;
}

.circle2:hover{
  background-color: #B13756;
}

.circle3 {
  background: #8B667F;
  border: none;
  border-radius: 50%;
  height:120px;
  width: 120px;
  color: white;
  text-align: center;
  margin-left: 30px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  float: right;
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
  line-height: 120px;
}

.circle3 a{
  text-decoration: none;
  background: transparent;
  color: white;
}

.circle3:hover{
  background-color: #3D3751;
}

.circle4 {
  background: #473D4A;
  border: none;
  border-radius: 50%;
  height:120px;
  width: 120px;
  color: white;
  text-align: center;
  margin-left: 30px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  float: right;
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
  line-height: 120px;
}

.circle4:hover {
  background-color: #583170;
}

#intro {
  font-family: 'Raleway', sans-serif;
  width: 700px;
  padding: 10px;
  clear:both;
  padding-left: 90px;
  font-size: 14px
}